/target
*/target
*/classes
*/checkouts
*/*.jar
*/*.class
*/.classpath
*/.project
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*/.lein-*
*/.nrepl-port
/.lein-*
/.nrepl-port
.classpath
.project
